@import "globalStyle.css";

.content {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    
}
.main {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    box-sizing: border-box;
}
#goodsInCart {
    display:flex;
    flex-wrap: warp;
    max-width: 960px;
	min-width: 60%;
    flex-direction: column; 
    /* flex-shrink: 1;
    overflow: scroll; */
}
.good {
    max-width: 960px;
	min-width: 60%;
    max-height: 300px;
    background: white;
    display: flex;
    flex-wrap: unset;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
    border-bottom: solid skyblue }
.good__logo {
    align-items: flex-start;
    align-content: left;
    width: 30%;
    height: 30%;
}
.good__LinkRemoveGoodInCard {
    margin-right: 20px;

}
.good__quantity{
    width:30px;
}
.aside{
    max-width: auto;
    width: 100px;
    box-sizing: border-box;
    padding: 0px;
}
#totalCostUnderGoods {

    align-items: flex-end;
}
#totalCostUnderGoods {
    margin: 40px;
}