@import "globalStyle.css";
.main{
    justify-content: space-around;
}
.widget {
    position: absolute;
    left: 0;
    padding: 20px 30px;
    background: white;

}
.widget-title {
    letter-spacing: 2px;
    color: #222;
    font-size: 16px;
    padding-left: 15px;
    margin-bottom: 15px;
    border-left: 2px solid #b99d61;
}
.widget-list {
    padding: 0;
    list-style: none;
}
  .widget-list a:before {
    margin-right: 14px;
}
  .widget-list a {
    text-decoration: none;
    outline: none;
    display: block;
    padding: 6px 0; 
    letter-spacing: 1px;
    font-weight: 300;
    color: #444;
    transition: .3s linear;
}
.widget-list a:hover {color: #b99d61;}
.good-in-grid{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    align-items: center

}
.good-in-grid__pic-of-good-in-grid {
    max-width: 200px;
    max-height: 200px;
}
.live-veiw{
    display: block;
    max-width: 960px;
    text-align: right;
    margin: auto;

}
.good-in-list{
    display: flex;
    flex-direction: row;
    max-width: 350px;
    align-items: center
}