@import "globalStyle.css";
.main{
    justify-content: space-around;}
    
.good-in-grid{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    align-items: center

}
.good-in-grid__pic-of-good-in-grid {
    max-width: 200px;
    max-height: 200px;
}
.live-veiw{
    display: block;
    max-width: 960px;
    text-align: right;
    margin: auto;

}
.good-in-list{
    display: flex;
    flex-direction: row;
    max-width: 350px;
    align-items: center
}
