@import "globalStyle.css";
.good-in-list__pic-of-good-in-list {
    max-width: 200px;
    max-height: 200px;
}
.live-veiw{
    margin-right:auto;
}
.good-in-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    word-wrap: wrap;
}
.good-name-and-cost{
    margin:0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: wrap;

}
.NameOfGood{
    display:inline-block;
}

.ShortDescriptionOfGoodInList {
    word-wrap: warp;
}

/* Safari 4.0 - 8.0 */

