@import "globalStyle.css";
.main {
    justify-content: space-around;
    background-color: aliceblue;
    padding-bottom: 30px;
}
.slider{
    max-width: 400px;
    min-width: 320px;
    height: 400px;
    background: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.slider__main-slide {
margin: auto;
max-width: 100%;
max-height: 100%;
}
.name-of-good{
    display: inline-block;
    margin-top: 1.5em;
}
.quantity {
    width:30px;
}
.slider__small-slide{
    width:20px;
    height: 20px;
    margin-bottom:-5px;
}
.good-information{
    min-width: 80px;
    max-width: 400px;
}