@import "globalStyle.css";
.addresses{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    /* margin: auto; */
    align-items: flex-start;
    flex-wrap: wrap;


}
.shipping-address__names{
    display: flex;
    text-align: right;
    flex-direction: column;
  
}
#shipping-address{
    display:flex;
    flex-direction: column;
    max-width: 50%;
    min-width: 320px;
    align-items: center;
    
}
#billing-address{
    display:flex;
    flex-direction: column;
    max-width: 50%;
    min-width: 320px;
    align-items: center;
    
}
.submit-button {
    display: flex;
    height: 20px;
    margin: auto;
}
#form {
    width: 100%;
}