.main {
	min-height: 100%;
	max-width: 960px;
	min-width: 270px;
	margin: auto;
	display: flex;
	flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
	box-sizing: border-box;
	flex-wrap: wrap;
	padding-bottom: 30px; 
	flex: 1;
	justify-content: space-around;
	align-content: space-around;
	background-color: white;
}
