<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> index </title>
        <link rel="stylesheet" href="./artifacts/main.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>
        <script src="./scripts/objects/categoriesObject.js"></script>
        <!-- <script src='./scripts/min-min.js'></script> -->
        <!-- <script src='./scripts/slider.js'></script> -->
    </head>
    <body class="body">
        <div class="popup popup--zoom-popup"></div>  

        <header class="header body__header"></header>
        <div class="global-conteiner">
            <main class="main"></main>
            <!-- <div class="search__results"></div> -->
<!-- 
            <script type="text/template" id="categories">
                <div class="category category--category-size" id="<%- i %>">
                    <img alt="photo of category" class="category__pic-of-category" src="<%= products[i].photo %>">
                    <span><%= products[i].name%> (<%=products[i].goods.length%>)</span>
                </div>
            </script> -->

            <script type="text/template" id="items-grid">
                <div class="change-view" id=""><a class="icons header__icons--responsive-element">List View</a></div>
                <div class="content">
                    <nav class="widget">
                        <h3 class="widget__title">Категории</h3>
                        <ul class="widget__list">
                        </ul>
                    </nav>
                    <h1></h1>
                    <main class="main">

                    </main>
                </div>
            </script>
            <script type="text/template" id="goods-in-grid">
                <div class="category category--good-size" id="<%- j %>">
                    <img alt="photo of good" src="<%= products[i].goods[j].photo %>"class="category__pic-of-category">
                    <h3><a class="NameOfGood"><%= products[i].goods[j].name %></a></h3>
                    <b class="priceOfGood">$<%= products[i].goods[j].price %></b>
                </div>
            </script>
            <script type="text/template" id="goods-in-list">
                <div class="good good--in-list"  id="<%- j %>">
                    <img alt="photo of good in list" class="good__logo"src="<%= products[i].goods[j].photo %>">
                    <div class="good-name-and-cost">
                        <h1 class="NameOfGood"><%= products[i].goods[j].name %></h1>
                        <b class="priceOfGood">$<%= products[i].goods[j].price %></b>
                        <p class="ShortDescriptionOfGoodInList"><%= products[i].goods[j].description %></p>
                        <button id="<%- j %>">Add to card</button>
                    </div>
                </div>
            </script>

            <script type="text/template" id="item-card">
                <main class="main">
                    <div class='slider'>
                        <p><span><%products[i].name%></span> | <span><%= products[i].goods[j].name %></span></p>
                        <div class='slider__big-image' id="dropBigImage">
                        </div>
                        <div class='slider__conteiner-for-small-photos'id="containerOfSlider">
                            <button class="slider__arrow-left">
                                <
                            </button>
                            <button class="slider__arrow-right">
                                >
                            </button>
                        </div>
                    </div>
                    <div class="good-information">
                        <h1 class="name-of-good"><%= products[i].goods[j].name %></h1> 
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                        <p><%= products[i].goods[j].description %></p>
                        <div class="cost-block">
                            Price<b>$<%= products[i].goods[j].price %></b>
                            <form>
                                Quantity
                                <input class="cost-block__quantity--responsive-element"type="number" required value="1">
                                <button type="submit" class="cost-block__submit-button--responsive-element">Add to cart</button>
                            </form>
                        </div>
                        <div class="social-networks">
                            <br><a class="social-networks__social-network social-networks__social-network--responsive-element"><i class="fab fa-twitter"></i></a>
                            <a class="social-networks__social-network social-networks__social-network--responsive-element"><i class="fab fa-facebook-square"></i></a>
                            <a class="social-networks__social-network social-networks__social-network--responsive-element"><i class="far fa-envelope"></i>
                        </div>
                    </div>
                </main>
            </script>
            
        <footer class="footer">©</footer>
        <!-- <script src='./tpl/header.tpl.js'></script>
        <script src='./scripts/search.js'></script>
        <script src='./tpl/popup.tpl.js'></script>
        <script src="./scripts/popup.js"></script>       
        <script src='./scripts/index.js'></script> -->
        <script src='./.build/bundle.js'></script>

        
    </body>
</html>