.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    align-content: space-between;
    @include modifier('reverse') {
        flex-direction: row-reverse;
    }
} 