$primary-color : #6200ee; //Primary color
// A primary color is the color displayed most frequently across your app’s screens and components. If you don’t have a secondary color, your primary color...
// Read More
// A primary color is the color displayed most frequently across your app’s screens and components. 
// If you don’t have a secondary color, your primary color can also be used to accent elements.
$secondary-color : #03dac6;
$border-radius : 10px;
$standart-button-margin : 5px;
$standart-button-padding : $standart-button-margin;
$text-decoration-none : none;