.body {
	margin: 0;
	padding: 0;
	display: -webkit-flex;
	display: flex; 
	flex-direction: column;
	flex: auto;
	background: skyblue;
	min-height: 100vh;
	font-family: sans-serif;
		@include element('header') {
			margin: 0 auto 30px auto;
		}
}  