<main class="main">
    <script type="ddd" id="category" >
        <div class="category category--category-size">
            <img alt="photo of category" class="category__pic-of-category" src="<%= products[i].photo %>">
            <span><a href="Items-grid.html"><%= products[i].name%></a> (45)</span>
        </div>
    </script>
    <script src="./scripts/objects/categoriesObject.js"></script>
    <script>

        for (var i = 0; i < products.length;i++) {
            var categories = _.template(document.getElementById('category').innerHTML)(products);

            var div = document.createElement('div');
            div.innerHTML = categories;
            document.getElementsByClassName('main')[0].appendChild(div);
        }

    </script>
    <!-- 
    <div class="category category--category-size">
        <img alt="photo of category" class="category__pic-of-category" src=".\pics\categories-grid\big_91a0aec1f7e49f08f81c7c25bcce9fd1_01.jpg">
        <span><a href="Items-grid.html">Shoes</a> (45)</span>
    </div>
    <div class="category category--category-size">
        <img alt="photo of category" class="category__pic-of-category" src=".\pics\categories-grid\big_91a0aec1f7e49f08f81c7c25bcce9fd1_1.jpg">
        <span><a href="Items-grid.html">Shoes</a> (45)</span>
    </div>
    <div class="category category--category-size">
        <img alt="photo of category" class="category__pic-of-category" src=".\pics\categories-grid\big_91a0aec1f7e49f08f81c7c25bcce9fd1_12.jpg">
        <span><a href="Items-grid.html">Shoes</a> (45)</span>
    </div>
    <div class="category category--category-size">
        <img alt="photo of category" class="category__pic-of-category" src=".\pics\categories-grid\big_8018582e5b743eec172a260d99602c0f_0.jpg">
        <span><a href="Items-grid.html">Shoes</a> (45)</span>
    </div>
    <div class="category category--category-size">
        <img alt="photo of category" class="category__pic-of-category" src=".\pics\categories-grid\big_d41d8cd98f00b204e9800998ecf8427e_0.jpg">
        <span><a href="Items-grid.html">Shoes</a> (45)</span>
    </div>
    <div class="category category--category-size">
        <img alt="photo of category" class="category__pic-of-category" src=".\pics\categories-grid\big_d41d8cd98f00b204e9800998ecf8427e_1.jpg">
        <span><a href="Items-grid.html">Shoes</a> (45)</span>
    </div> -->
</main>